# ======================
# Maven
# ======================
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
# ======================
# Eclipse
# ======================
.metadata/
.settings/
.classpath
.project
Servers/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Temp files
# ======================
*.tmp
*.swp

# ======================
# IDE (optional if using others later)
# ======================
.vscode/
.idea/